*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);   
    color: white;
    padding: 10px;
    
    
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;

}

.calculator h1{
    font-size: 60px;    

}

.calculator h1 span{
    color: rgb(240, 19, 192);
}

.input-box{
    margin: 40px 0px;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.262);    
    display: flex;
    align-items: center;
}

.input-box input{
    position: relative;
    border-radius: 5px;
    flex: 1;
    outline: 0;
    border: 0;
    font-size: 18px;
    margin-right: 20px;
    padding: 14px 20px;

}

.input-box button{
    background: rgb(229, 40, 204);
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;    

}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;    
    cursor: pointer;
    height: auto;
}

.container p{
    font-size: 20px; 
    color: rgba(200, 0, 255, 0.959);
}

